<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Connect Four - Log in</title>
    <link rel="stylesheet" href="../css/design.css" />
  </head>
  <body>
    <header>
      <!-- Place Holder for logo -->
      <h1>Connect Four</h1>
      <a class="nav navbtn" href="home">Home</a>
      <a class="nav navbtn" href="play">Play</a>
      <span class="user">
        <a class="nav" href="profile">
          <span class="userlink">username</span>
          <img class="pfp" src="default_pfp.png" alt="PFP" width="50" height="50">
        </a>
      </span>
    </header>

    <div class="main">
      <section>
        <h2>Log in</h2>
        <form action="">
          <input class="logintext" type="text" name="usrnm" placeholder="Username"> <br />
          <input class="logintext" type="password" name="pwd" placeholder="Password"> <br />
          <button type="submit">Log in</button>
          <button type="submit" formaction="">Register</button>
        </form>
      </section>
    </div>
  </body>
</html>
